@charset "UTF-8";
body{
    margin: 0px 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

li {
    float: left;
}

li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #80ff80;
}

.cir{
    border-radius: 40px;
    width:80px;
    height:80px;
}

a{ text-decoration:none}
a:hover{ text-decoration:none}
